<div class="login-page">
  <!-- Componente de background se repete em cadastro -->
  <div class="bg-image">
    <img src="/bg.png" alt="Login" />
  </div>
  <!-- Content, login-container, login-form e login-form-content se repetem podendo ser apenas um único componente -->
  <div class="content">
    <div class="login-container">
      <div class="login-form">
        <div class="login-form-content">
          <h2>Entrar</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" id="email" name="email" formControlName="email" required />
              <!-- Verificar possibilidade de deixar os erros dinamicos -->
              @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
              <div>
                @if (loginForm.get('email')?.errors?.['email']) {
                <small>Digite um e-mail válido.</small>
                } @else if (loginForm.get('email')?.errors?.['required']) {
                <small>O e-mail é obrigatório.</small>
                }
              </div>
              }
            </div>
            <div class="form-group">
              <label for="password">Senha</label>
              <input
                type="password"
                id="password"
                name="password"
                formControlName="password"
                required
              />
              @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
  
              <div>
                @if (loginForm.get('password')?.errors?.['required']) {
                <small>A senha é obrigatória.</small>
                } @else if (loginForm.get('password')?.errors?.['minlength']) {
                <small>A senha deve ter pelo menos 8 caracteres.</small>
                } @else if (loginForm.get('password')?.errors?.['pattern']) {
                <small>A senha deve conter letra maiúscula, minúscula e número. </small>
                }
              </div>
              }
            </div>
            <div class="forgot-password">
              <a routerLink="/recuperar-senha">Esqueceu a senha?</a>
            </div>
            <button type="submit">Entrar</button>
          </form>
          <div class="register-link">
            <p>Não tem uma conta? <a routerLink="/register" >Cadastre-se</a></p>
          </div>
        </div>
      </div>
      <!-- talvez as infors possam ser dinamicas e virar um componente shared -->
      <div class="login-info">
        <img src="/logo.png" alt="logo" />
        <h3>Desenvolva suas competências digitais agora!</h3>
        <p>
          Lorem ipsum dolor sit amet condivtetur adipisicing elit. Accusamus illum ut dolorem voluptas
          nostrum praesentium quibusdam sequi recusandae non. Illo quis fugit non officia numquam
          quisquam nisi deserunt corporis hic.
        </p>
      </div>
    </div>
  </div>
</div>
